*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, serif;
  font-size: 18px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.query-input {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  height: 40px;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  outline: none;
  font-size: 18px;
}
